
.vs/BookCatalogue/config/applicationhost.config
.vs/BookCatalogue/DesignTimeBuild/.dtbcache.v2
.vs/BookCatalogue/v16/.suo
.vs/BookCatalogue/v16/TestStore/0/000.testlog
.vs/BookCatalogue/v16/TestStore/0/testlog.manifest
.vs/BookCatalogue/v16/TestStore/2/003.testlog
API/bin/Debug/netcoreapp3.1/API.dll
API/bin/Debug/netcoreapp3.1/API.pdb
API/bin/Debug/netcoreapp3.1/Application.dll
API/bin/Debug/netcoreapp3.1/Application.pdb
API/bin/Debug/netcoreapp3.1/Infrastructure.dll
API/bin/Debug/netcoreapp3.1/Infrastructure.pdb
API/obj/API.csproj.nuget.dgspec.json
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.csproj.CoreCompileInputs.cache
API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
API/obj/Debug/netcoreapp3.1/API.dll
API/obj/Debug/netcoreapp3.1/API.genruntimeconfig.cache
API/obj/Debug/netcoreapp3.1/API.pdb
API/obj/project.assets.json
API/obj/project.nuget.cache
Application/bin/Debug/netcoreapp3.1/Application.dll
Application/bin/Debug/netcoreapp3.1/Application.pdb
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Debug/netcoreapp3.1/Application.assets.cache
Application/obj/Debug/netcoreapp3.1/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/netcoreapp3.1/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/netcoreapp3.1/Application.csprojAssemblyReference.cache
Application/obj/Debug/netcoreapp3.1/Application.dll
Application/obj/Debug/netcoreapp3.1/Application.pdb
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
Domain/obj/Debug/netcoreapp3.1/Domain.csprojAssemblyReference.cache
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Infrastructure/bin/Debug/netcoreapp3.1/Application.dll
Infrastructure/bin/Debug/netcoreapp3.1/Application.pdb
Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.dll
Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.pdb
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.assets.cache
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csprojAssemblyReference.cache
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.dll
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.pdb
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
tests/bin/Debug/netcoreapp3.1/API.dll
tests/bin/Debug/netcoreapp3.1/API.pdb
tests/bin/Debug/netcoreapp3.1/Application.dll
tests/bin/Debug/netcoreapp3.1/Application.pdb
tests/bin/Debug/netcoreapp3.1/Infrastructure.dll
tests/bin/Debug/netcoreapp3.1/Infrastructure.pdb
tests/bin/Debug/netcoreapp3.1/Tests.dll
tests/bin/Debug/netcoreapp3.1/Tests.pdb
tests/obj/Debug/netcoreapp3.1/Tests.assets.cache
tests/obj/Debug/netcoreapp3.1/Tests.csproj.CoreCompileInputs.cache
tests/obj/Debug/netcoreapp3.1/Tests.csproj.FileListAbsolute.txt
tests/obj/Debug/netcoreapp3.1/Tests.csprojAssemblyReference.cache
tests/obj/Debug/netcoreapp3.1/Tests.dll
tests/obj/Debug/netcoreapp3.1/Tests.genruntimeconfig.cache
tests/obj/Debug/netcoreapp3.1/Tests.pdb
tests/obj/project.assets.json
tests/obj/project.nuget.cache
tests/obj/Tests.csproj.nuget.dgspec.json
